* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem auto;
}

.productsContainer {
    padding-top: 20px;

    .productsBody {
        padding: 1.25rem 2.5rem;
        gap: 1.25rem;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));

        li {
            --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
            --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            border-width: 1px;
            border-radius: 0.25rem;

            img {
                object-fit: cover;
                height: 300px;
                max-width: 100%;
                vertical-align: middle;
            }

            .productsInfo {
                padding: 1rem;
                gap: 1rem;
                display: flex;
                flex-direction: column;

                span {
                    text-align: center;
                }

                button {
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    color: white;
                    background-color: #3B82F6;
                    border-radius: 0.25rem;
                    cursor: pointer;
                    height: 2.25rem;
                }
            }
        }
    }
}